<form ng-submit="form_submit()">
  Pick a topic:
    <div ng-repeat='person in people'>
        <label>
  <input type="radio" ng-model="$parent.radioValue" value="{{person.name}}" name="name" required>{{person.name}}
        </label>

    </div>

    <input type="submit" value="submit" ng-submit="form_submit()">
</form>
   <div>currently selected: {{radioValue}}</div>
<!--
<form name="myForm" ng-submit="submitForm()">
       <label data-ng-repeat="i in [1,2,3]"><input type="radio" name="test" ng-model="$parent.radioValue" value="{{i}}"/>{{i}}</label>
       <div>currently selected: {{radioValue}}</div>
       <button type="submit">Submit</button>
    </form>
